@import url(https://fonts.googleapis.com/css?family=Barlow:700,400,600);

*{
  font-family: 'Barlow';
  margin: 0;
}

/* make variables */
:root {
  --pink: #EF4B90;
  --purple: #472E62;
  --black: #000000;
  --yellow: #FFCE41;
  --light-grey: #F0EFEF;
  --blue: #5AC8DD;
}

.App{
  overflow: hidden;
  background-color: var(--light-grey);
}

.btn{
  border: none;
  border-radius: 10cm;
  background: var(--pink);
  color: white;
  cursor: pointer;
}